.required-field {
    color: red;
    font-weight: bold;
}

.uploaded-photo-project {
    display: flex;
    width: 100px;
    height: 100px;
}

.uploaded-photo-project-general {
    display: flex;
    width: 100px;
    height: 100px;
}